#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Modal title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for Project.new, id: "new-project", remote: true do |form|
          = form.label :name
          = form.text_field :name
          .modal-footer
            = form.submit 'enter'
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
