#main-section
  %ul#projects
    = render @projects
  %br
#create-button
  = button_tag 'Add project', { class: "btn btn-primary", type: 'button', remote: true, data: { toggle: "modal", target: '#exampleModal' } }
  -# = link_to 'Add project', '#',  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModal'}

/ Modal
#modal-window
  = render 'modal'
