@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free";
@import "login";

body {
  background-color: beige;
}

ul {
  list-style-type: none;
  padding: 0;
}

input[type=text]:disabled {
  background-color: transparent;
  color: white;
}

div#create-button {
  left: 50%;
  margin-left: -54px;
  z-index: 9999;
}

div#main-section {
  max-width: 60%;
  margin: 20px auto;
}

.project {
  border: 1px solid navy;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.project-control, .task-control {
  display: none;
}



.project-form-header {
  background-color: #416ea9;
  height: 4rem;
  padding-right: 10px;
}

.border-radius-5 {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.project-form-header:hover div.project-control {
  display: flex;
}

li[id^=task]:hover div.task-control {
  display: flex;
}

.task-form-header {
  background-color: #cecece;
  padding: 10px 20px;
}

.form-control {
  border: 1px solid transparent;
}

input[id^=datepicker] {
  display: none;
}

img.ui-datepicker-trigger {
  margin: 0 10px;
}

ul#tasks-section li {
  border-bottom: 2px solid grey;
}

ul#tasks-section li:last-child {
  border-bottom: none;
}

li[id^=task] {
  padding: 10px;
}
