@import "~bootstrap/scss/bootstrap";

body {
  background-color: beige;
}

ul {
  list-style-type: none;
  padding: 0;
}

input[type=text]:disabled {
  background-color: transparent;
  color: white;
}

div#create-button {
  left: 50%;
  margin-left: -54px;
}

div#main-section {
  max-width: 60%;
  margin: 20px auto;
}

ul#projects > li {
  padding: 20px;
}

.project {
  border: 1px solid navy;
  margin-bottom: 20px;
}

.project-control {
  display: none;
}

.form-header {
  background-color: royalblue;
  margin: -20px -20px 20px -20px;
  height: 4rem;
}

.form-header:hover div.project-control {
  //transition: 2s ease-out;
  display: flex;
}

.form-control {
  border: 1px solid transparent;
}

