@import "~bootstrap/scss/bootstrap";

body {
  background-color: beige;
}

//.container {
//  background-color: darkgray;
//}

ul {
  list-style-type: none;
  padding: 0;
}

input[type=text]:disabled {
  background-color: grey;
  color: white;
}

div#create-button {
  left: 50%;
  margin-left: -54px;
}

div#main-section {
  max-width: 60%;
  margin: 20px auto;
}

ul#projects > li {
  padding: 20px;
}